<div class="container">
  <div class="alert alert-success" *ngIf="success">Opération effectuée avec succès</div>

  <h1 class="text-center">Les réservations</h1>

  <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success float-end" (click)="resetForm()">Nouvelle réservation</button>

  <div class="row">
    <div class="col-9">
      <div class="input-group mb-3 clearfix">
        <span class="input-group-text" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
        <input type="text" class="form-control" placeholder="Rechercher un client" aria-describedby="basic-addon1" [(ngModel)]="search">
      </div>
    </div>
    <div class="col-3">
      <button type="button" class="btn btn-primary" (click)="loadResa()">Rechercher</button>
    </div>
  </div>

<full-calendar class="fullCalendar" [options]="calendarOptions"></full-calendar>

</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form name="villeForm" method="POST" (submit)="submitForm()" ngNativeValidate>
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ajouter une reservation</h5>
<!--
          <h5 class="modal-title" id="exampleModalLabel">Editer une réservation</h5>
-->
          <button type="button" #closebutton class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="alert alert-danger" *ngIf="error">Une erreur est survenue, veuillez vérifier votre saisie
          </div>

          <div class="mb-3">
            <label for="prenom" class="form-label">Prénom</label>
            <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Prénom" required autofocus>
          </div>

          <div class="mb-3">
            <label for="nom" class="form-label">Nom</label>
            <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom" minlength="2" required>
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="Email" minlength="2" required>
          </div>

          <div class="mb-3">
            <label for="telephone" class="form-label">Téléphone</label>
            <input type="tel" class="form-control" id="telephone" name="telephone" placeholder="Téléphone" minlength="2" required>
          </div>

          <div class="mb-3">
            <label for="ville" class="form-label">Ville</label>
            <select name="ville" id="ville" required class="form-select">
              <option value="">Sélectionner ville</option>
              <option *ngFor="" [ngValue]="">
              </option>
            </select>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="reset" class="btn btn-danger float-end">Annuler</button>
          <button type="submit" class="btn btn-secondary" id="submitbtn">Valider</button>
        </div>
      </div>
    </form>
  </div>
</div>
